@model MomPlusAdmin.Models.AdminModel
@{
    ViewBag.Title = "MotherRegistration";
    
}
<script src="/Visual/Content/Template/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Visual/Scripts/bootstrap.min.js"></script>
<script src="/Visual/Content/Template/Scripts/Loader.js"></script>
<link rel="stylesheet" href="/Visual/Content/Template/CSS/LoaderCSS.css">
<div class="se-pre-con"></div>

<div id="services">
    <!-- appointment section -->
    <article class="section">
			<div class="section-image" style="background-image:url(/Visual/Images/slide-8.png);">
				<div class="container">
					<!-- appointment-area -->
					<div class="appointment-area">
						<div class="row">
							<div class="col-sm-10 col-md-6">
								<!-- appointment-box -->
								
                                <div class="appointment-box">
									      <div class="upper-section">
                                                <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                                                <h4>Create New Admin Account</h4>
                                                </header>
                                           </div>
                                   
									<div class="text">
                                    	<div class="appointment-form">
                                            <ul class="row">
                                            <li><h5 style = "color:Red;">New Admin account added.</h5></li>
                                          @using (Html.BeginForm("AdminList", "ManagePeople"))
                                          {
                                                @Html.ValidationSummary(true)
                                                <li class="col-sm-12">
													<label>@Html.LabelFor(model => model.Fname)</label>
                                                           @Html.TextBoxFor(model => model.Fname, new { @class = "form-control", @readonly = "readonly" })
                                                </li>

                                                 <li class="col-sm-12">
                                                       <label>@Html.LabelFor(model => model.LName)</label>
                                                              @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @readonly = "readonly" })
                                                       
                                                 </li>

                                                <li class="col-sm-12">
                                                       <label>@Html.LabelFor(model => model.Address)</label>
                                                              @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "readonly" })
                                                        
                                                 </li> 
                                                 <li class="col-sm-12">      
                                                       <label>
                                                        @Html.LabelFor(model => model.ContactNum)</label>
                                                        @Html.TextBoxFor(model => model.ContactNum, new { @class = "form-control", @readonly = "readonly" })
                                                        
                                                  </li>
                                                 <li class="col-sm-12">
                                                     <label>@Html.LabelFor(model => model.Bday)</label>
                                                        @Html.TextBoxFor(model => model.Bday, new { @type = "date", @class = "form-control", @readonly = "readonly" })
                                                        
                                                </li>
                                              <li class="col-sm-12">  
                                                     <label>@Html.LabelFor(model => model.Gender)</label>
                                                        @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @readonly = "readonly" })
                                                        
                                              </li> 
                                              <li class="col-sm-12">        
                                                      <label>@Html.LabelFor(model => model.Username)</label>
                                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = "readonly" })
                                                                 
                                              </li>
                                              <li class="col-sm-12">  
                                                     <label>@Html.LabelFor(model => model.Password)</label>
                                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @readonly = "readonly" })
                                                        
                                              </li> 
                                               
                                               <li class="col-sm-12">  
                                                     <label>@Html.LabelFor(model => model.Position)</label>
                                                        @Html.TextBoxFor(model => model.Position, new { @class = "form-control", @readonly = "readonly" })
                                                        
                                              </li> 
                                              <li>
											   	    <input type="submit" class="btn btn-primary" value="Done" /> 
                                              </li>
                                          }
                                            </ul>
                                        </div>									
                                    </div>
								</div>
                               </div>
                             
							<div class="col-sm-6 appointment-box-snap"> <img src="~/Visual/Content/Template/Images/img-1.png" alt="image doctor"> </div>
						</div>
					</div>
				</div>
			</div>
		</article>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
