@model IEnumerable<MomPlusAdmin.Domain.Entity.Admin>

@{
    ViewBag.Title = "searchAdmin";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}
 
<script src="/Visual/Content/Template/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Visual/Content/Template/Scripts/Loader.js"></script>
<link rel="stylesheet" href="/Visual/Content/Template/CSS/LoaderCSS.css">
<link rel="stylesheet" href="/Visual/Content/themes/PagedList.css">

<div class="se-pre-con"></div>
<div id="adminlist" class="section-image">
    <div class="container">
        <!-- upper-section -->
 <div class="upper-section">
            <header>
						<h3>List of Admin</h3>
						<p>Shows list of all admin that already registered in the system.</p>
                        <div style = "display:inline-block;float: right;">
                            @using (Html.BeginForm("searchAdmin", "ManagePeople", FormMethod.Get))
                            {
                               
                                <h4>Find by name: @Html.TextBox("SearchString", new { @required = "required" })</h4>  
                            }
                         </div>
                         <div style = "display:inline-block;">
                         <a href="@Url.Action("AdminList", "ManagePeople")" class="btn btn-default btn-sm">
                                <i><img src = "/Visual/Images/back.png" style = "width: 20px;"/></i>
                                <span>
                                    <strong>Back to list</strong>
                                </span>            
                            </a>
                          @ViewBag.searchNotFound
                        
                         </div>
           </header>
        </div>
        
        <!-- content-section -->
        <div class="content-section">
            <div class="row">
                <div>@ViewBag.newEntry</div>
                <div style="display: inline">
                    <table class="table table-sm" data-animation="fadeInUp" data-delay="0">
                    
                        <tr>
                            <th>@Html.ActionLink("First Name", "AdminList", new { sortOrder = ViewBag.FNameSortParm })
                            </th>
                            <th>@Html.ActionLink("Last Name", "AdminList", new { sortOrder = ViewBag.LNameSortParm })
                            </th>
                            <th>@Html.ActionLink("Address", "AdminList", new { sortOrder = ViewBag.AddressSortParm })
                            </th>
                            <th>@Html.ActionLink("Birth Date", "AdminList", new { sortOrder = ViewBag.DateSortParm })
                            </th>
                            <th>@Html.ActionLink("Contact Number", "AdminList", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th>@Html.ActionLink("Gender", "AdminList", new { sortOrder = ViewBag.GenderSortParm })
                            </th>
                            <th>@Html.ActionLink("Username", "AdminList", new { sortOrder = ViewBag.UserNameSortParm })
                            </th>
                            <th>@Html.ActionLink("Password", "AdminList", new { sortOrder = ViewBag.PasswordSortParm })
                            </th>
                            <th>@Html.ActionLink("Position", "AdminList", new { sortOrder = ViewBag.PositionSortParm })
                            </th>
                            <th>
                            </th>
                        </tr>
                            
                            @foreach (var item in Model)
                            {
                            
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.first_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.last_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.birth_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contact_num)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                            </tr>
                            }
                        
                    </table>
              </div>
            </div>
        </div>
    </div>
</div>
