@model MomPlusAdmin.Models.ImmunizationModel
@{
    ViewBag.Title = "updateImmunization";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}
<div id="services">
    <!-- appointment section -->
    <article class="section">
			<div class="section-image" style="background-image:url(/Visual/Images/slide-8.png);">
				<div class="container">
					<!-- appointment-area -->
					<div class="appointment-area">
						<div class="row">
							<div class="col-sm-10 col-md-6">
								<!-- appointment-box -->
								
                                <div class="appointment-box">
									      <div class="upper-section">
                                                <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                                                <h3>Update Immunization Record</h3>
                                               
                                                </header>
                                           </div>
                                   
									<div class="text">
                                    	<div class="appointment-form">
                                        <ul class="row">
                                    @using (Html.BeginForm("updateImmunization", "Baby", new { id = Model.baby_id }, FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true)

                                        @Html.HiddenFor(model => model.immunization_id)
                                        @Html.HiddenFor(model => model.baby_id)

                                                    <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>Immunization Date</label>

                                                         @if (Model.ImmunizationDate.Date.Equals(null))
                                                         {
                                                             @Html.TextBoxFor(model => model.ImmunizationDate, new { @type = "date", @class = "form-control" })
                                                             @Html.ValidationMessageFor(model => model.ImmunizationDate)
                                                         }
                                                         else
                                                         {
                                                             @Html.TextBoxFor(model => model.ImmunizationDate, new { @class = "form-control" })
                                                         }  </li>
                                                    </div>
                                                
                                                  <div class="form-inline">
                                                    <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>6 to 12 months</label>
                                                       @if (Model.six_to_twelvemos.Equals(null))
                                                       {
                                                           @Html.TextBoxFor(model => model.six_to_twelvemos, new { @type = "date",@class = "form-control" })
                                                           @Html.ValidationMessageFor(model => model.six_to_twelvemos)
                                                       }
                                                       else
                                                       {
                                                       @Html.TextBoxFor(model => model.six_to_twelvemos, new { @class = "form-control" })
                                                       
                                                       } </li>
                                                    </div>

                                                    <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>12 to 59 months</label>
                                                       
                                                       @if (Model.twelve_to_59mos.Equals(null))
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve_to_59mos, new { @type = "date", @class = "form-control" })
                                                       @Html.ValidationMessageFor(model => model.twelve_to_59mos)
                                                       }
                                                       else
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve_to_59mos, new { @class = "form-control" })
                                                       }
                                                         </li>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>Six to twelve months Dosage</label>
                                                         </li>
                                                </div>
                                                <div class="form-inline">
                                                    <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>Dosage 1</label>
                                                       @if (Model.twelve59mos_dosage1.Equals(null))
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve59mos_dosage1, new { @type = "date", @class = "form-control" })
                                                       @Html.ValidationMessageFor(model => model.twelve59mos_dosage1)
                                                       }
                                                       else
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve59mos_dosage1, new { @class = "form-control" })
                                                       }
                                                      </li>
                                                    </div>

                                                    <div class="form-group">
                                                       <li class="col-sm-12">
                                                         <label>Dosage 2</label>
                                                       @if (Model.twelve59mos_dosage2.Equals(null))
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve59mos_dosage2, new { @type = "date", @class = "form-control" })
                                                       @Html.ValidationMessageFor(model => model.twelve59mos_dosage2)
                                                       }
                                                       else
                                                       {
                                                       @Html.TextBoxFor(model => model.twelve59mos_dosage2, new { @class = "form-control" })
                                                       }
                                                         </li>
                                                    </div>
                                                </div>
                                                     <input type="submit" class="btn btn-primary" value="Submit" />        
                                                }
                                    </ul>
                                 </div>									
                                    </div>
								</div>
                               </div>
                             
							<div class="col-sm-6 appointment-box-snap"> <img src="~/Visual/Content/Template/Images/img-1.png" alt="image doctor"> </div>
						</div>
					</div>
				</div>
			</div>
		</article>
</div>
